{% extends 'lista.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h3 class="card-title text-center">Login</h3>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
                <p class="chang-form-p">Gostaria de criar uma conta? <a href="/accounts/register">Clique aqui</a></p>
            </div>
        </div>
    </div>
</div>

{% block content %}