{% extends "lista.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-warning text-white">
                <h3 class="text-center font-weight-light my-3">Aceder à Lista</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Nome de usuário ou palavra-passe inválidos. Tente novamente.
                    </div>
                    {% endif %}

                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                    {% endfor %}

                    <div class="d-grid mt-4 mb-0">
                        <button type="submit" class="btn btn-warning btn-block">Entrar</button>
                    </div>

                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">
                    <a href="{% url 'registro' %}">Precisa de uma conta? Registe-se!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}